<table>
<tr>
<th></th>
<th colspan='4'>threads</th>
</tr>
<tr>
<th>order</th>
<th>1</th>
<th>2</th>
<th>3</th>
<th>4</th>
</tr>
<tr>
<td>2</td>
<td>0.349</th>
<td>0.337</th>
<td>0.348</th>
<td>0.381</th>
</tr>
<tr>
<td>3</td>
<td>1.326</th>
<td>1.029</th>
<td>1.052</th>
<td>1.077</th>
</tr>
<tr>
<td>4</td>
<td>8.483</th>
<td>6.126</th>
<td>5.953</th>
<td>5.767</th>
</tr>
<tr>
<td>5</td>
<td>62.391</th>
<td>41.018</th>
<td>36.628</th>
<td>35.747</th>
</tr>
<tr>
<td>6</td>
<td>474.887</th>
<td>293.007</th>
<td>247.254</th>
<td>219.428</th>
</tr>
<tr>
<td>7</td>
<td>3605.859</th>
<td>2143.565</th>
<td>1776.399</th>
<td>1566.617</th>
</tr>
</table>
